@font-face {
  font-family: avanti;
  src: url(../fonts/Avanti.ttf);
}

* {
  font-family: avanti;
}

p {
  margin-bottom: 3px;
}

.navbar button {
  margin: 0;
}

.navbar-toggler {
  border: 2px solid transparent;
}

a:hover {
  text-decoration: none;
}

.navbar {
  /* height: 112px; */
  background-color: #44464d;
  border-bottom: 12px solid #b4af91;
}

header img {
  margin-left: -10px;
}

.navbar-dark .navbar-nav .nav-link {
  padding: 0 8px;
  margin: 0 20px;
  color: white;
  font-size: 20px;
}

nav a:hover {
  background-color: #b4af91;
  color: #44464d;
}

.f-block {
  background-image: url(../images/bg/Шар_12.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main-text {
  height: calc(500px + 584 * ((100vw - 320px) / (1900 - 320)));
  font-size: calc(40px + 35 * ((100vw - 320px) / (1900 - 320)));
  line-height: calc(100px + 80 * ((100vw - 320px) / (1900 - 320)));
  color: white;
  padding-top: 30px;
}

#portfolio {
  background-image: url("../images/bg/Шар_11.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio_layer {
  background-color: rgba(180, 175, 145, 0.6);
}

.portfolio_head-text {
  padding: 32px 0 12px 0;
  font-size: 56px;
  color: #44464d;
  line-height: 32px;
}

.portfolio_head-box {
  height: 98px;
  width: 100%;
  border-bottom: 12px solid #44464d;
}

#portfolio .row {
  padding-top: 32px;
}

.carousel-inner img {
  max-width: calc(200px + 250 * ((100vw - 320px) / (1900 - 320)));
}

.carousel-control-next-icon {
  background: url("../images/logo/next.png") cover;
  width: 64px;
  height: 64px;
}

.carousel-control-prev-icon {
  background-image: url("../images/logo/next_1.png") cover;
  width: 64px;
  height: 64px;
}

.portfolio-text {
  color: #44464d;
  font-size: calc(12px + 13 * ((100vw - 320px) / (1900 - 320)));
  margin-top: 22px;
}

#bio {
  background-image: url("../images/bg/Шар\ 10.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1010px;
  color: white;
}

.bio_layer {
  background-color: rgba(68, 70, 77, 0.6);
  height: 1010px;
}

@media screen and (max-width: 992px) {
  #bio {
    height: 1280px;
  }

  .bio_layer {
    height: 1280px;
  }

  .navbar-dark .navbar-nav .nav-link {
    padding: 10px;
  }
}

.bio_content {
  font-size: calc(13px + 6 * ((100vw - 320px) / (1900 - 320)));
}

.bio_head-box {
  width: 100%;
  height: 77px;
  background-color: #44464d;
  border-bottom: 12px solid #b4af91;
}

.bio_head-text {
  padding: 17px 0 18px 0;
  font-size: 56px;
  color: white;
  line-height: 32px;
}

.bio-img {
  display: block;
  position: relative;
  padding-top: 7px;
}

.bio-img img {
  max-width: calc(290px + 100 * ((100vw - 320px) / (1900 - 320)));
}

#catalog {
  background-image: url("../images/bg/Шар_11.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog_layer {
  background-color: rgba(180, 175, 145, 0.6);
}

.catalog_head-text {
  padding: 32px 0 12px 0;
  font-size: 56px;
  color: #44464d;
  line-height: 32px;
}

.catalog_head-box {
  height: 98px;
  width: 100%;
  border-bottom: 12px solid #44464d;
}

.catalog-text {
  font-size: 20px;
  color: #44464d;
}

.card {
  border: 0;
  height: 100%;
  background: transparent;
}

.card-body {
  display: flex;
}

.card-text {
  background: #44464d;
  color: white;
  width: 100%;
  text-align: center;
  font-size: .9rem;
  font-weight: 400;
  min-height: 45px;
  align-self: flex-end;
}

footer {
  background-color: #b4af91;
  margin-top: -6px;
}

.legend-color {
  color: #44464d;
}

form {
  padding-top: 21px;
}

form legend {
  color: #44464d;
  line-height: 24px;
  font-size: 24px;
  margin-bottom: 21 px;
}

input {
  border-radius: 4px;
  width: 390px;
  height: 46px;
  border: 0;
  margin-bottom: 24px;
  padding-left: 19px;
}

.message {
  width: 390px;
}

button {
  background-color: #44464d;
  color: white;
  border-radius: 7px;
  margin-left: 250px;
  border: 0;
  margin-top: 27px;
  margin-bottom: 46px;
}

.contacts img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.inst, .fb, .phone, .mail {
  margin-bottom: 25px;
}